@import '../../../../apps/games/src/styles/variables';

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin product-container($padding: 0) {
  &__wrapper {
    padding: $padding;
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
  }
}

@mixin button() {
  width: 100%;
  margin-top: 1.6rem;
  border: 0;
  height: 3rem;
  font-weight: bold;
  font-size: 20px;
}

@mixin button-theme($baseColor: $lime, $hasGradient: false) {
  $darken-base-color: darken($baseColor, 10);
  background: $baseColor;
  @if $hasGradient {
    background: linear-gradient(90deg, $stratos 0%, $morning-glory 0%, $baseColor 54%);
  }
  
  &:hover,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: $darken-base-color;
    @if $hasGradient {
      background: linear-gradient(
        90deg,
        $darken-stratos 0%,
        $darken-morning-glory 0%,
        $darken-base-color 54%
      );
    }

  }
}