@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin product-container($padding: 0) {
  &__wrapper {
    padding: $padding;
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
  }
}

@mixin button() {
  width: 100%;
  margin-top: 1.6rem;
  border: 0;
  height: 3rem;
  background: $lime;
  background: linear-gradient(90deg, $stratos 0%, $morning-glory 0%, $lime 54%);
  font-weight: bold;
  font-size: 20px;

  &:hover,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background: linear-gradient(
      90deg,
      $darken-stratos 0%,
      $darken-morning-glory 0%,
      $darken-lime 54%
    );
  }
}
