$electric-lime: #c6ff00;
$lime: #b1ff00;
$flirt: #a80077;
$bright-green: #66ff00;
$stratos: #020024;
$morning-glory: #92cadf;
$dusty-gray: #999999;
$regent-blue: #92b1df;
$sushi: #74c03a;
$darken-stratos: darken($stratos, 10);
$darken-morning-glory: darken($morning-glory, 10);
$darken-lime: darken($lime, 10);
